{% extends 'base.html' %}

{% block content %}
<main class="flex-grow-1">
  <div class="container-lg mt-3">

    <!-- ======= Url Information ======= -->
    <h1>Сайт: https://getbootstrap.com</h1>
    <div class="table-responsive">
      <table class="table table-bordered table-hover text-nowrap" data-test="url">
        <tbody>
          <tr>
            <td>ID</td>
            <td>{{ url_info.id }}</td>
          </tr>
          <tr>
            <td>Имя</td>
            <td>{{ url_info.name }}</td>
          </tr>
          <tr>
            <td>Дата создания</td>
            <td>{{ url_info.created_at }}</td>
          </tr>
        </tbody>
      </table>
    </div><!-- End Url Information -->

    <!-- ======= Reports Of Check Url ======= -->
    <h2 class="mt-5 mb-3">Проверки</h2>

    <!-- ======= Validation "Start" Form ====== -->
    <form method="post" action="{{ url_for('check_url', id_=url_info.id) }}">
      <input type="submit" class="btn btn-primary" value="Запустить проверку">
    </form><!-- End Validation "Start" Form -->

    <div>
      <table class="table table-bordered table-hover mt-2" data-test="checks">
        <thead>
          <tr>
            <th>ID</th>
            <th>Код ответа</th>
            <th>h1</th>
            <th>title</th>
            <th>description</th>
            <th>Дата создания</th>
          </tr>
        </thead>
        <tbody>
        {% for info in check_info %}
          <tr>
            <td>{{ info.id }}</td>
            <td>{{ info.status_code }}</td>
            <td>{{ info.h1 }}</td>
            <td>{{ info.title }}</td>
            <td>{{ info.description }}</td>
            <td>{{ info.created_at }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div><!-- End Reports Of Check Url -->

  </div>
</main>
{% endblock %}